<!DOCTYPE html>
<html lang="en">
    <style>
        .gray {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
      </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Name:</label>
        <input type="text" name="name">
        <br><br>
        <label for="">Age:</label>
        <input type="integer" name="age">
        <br><br>
        <label for="">image:</label>
        <input type="file" id="img" name="image" accept="image/*"><br><br><br>
        <input type="submit" value="Add data">
    </form><br><br><br>

    {% for i in ob %}
    Name:{{i.name}}<br><br>
    Age:{{i.age}}<br><br>
    PIC: <img src="{{i.image.url}}" alt="" height="200" width="300">
    <img src="{{i.image1.url}}" alt="" height="500" width="500">
    <img src="{{i.image2.url}}" alt="" height="1024" width="768">
    <img src="{{i.image3.url}}" class="gray" alt="" height="300" width="300" >
    <br>
    <br><br>
    {% endfor %}
    
</body>
</html>